* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, rgb(179, 54, 54), rgb(29, 116, 94), rgb(134, 68, 155));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    animation: colorChange 2s infinite;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.form-content {
    background: linear-gradient(
        50deg,
        rgb(36, 37, 46) 50%,
        rgba(40,42,55,0.7)
        ),
        url(/images/EKEFES.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px;
        width: 1000px;
        border-radius: 25px;
}

.form-content h2 {
    color: #f4f6f9;
    font-size: 40px;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

label {
    font-size: 17px;
    color: #959AAB;
    margin-bottom: 10px;
}

input, textarea {
     padding: 17px 14px;
     background-color: #333646;
     border: 0;
     font-size: 15px;
     color: #f4f6f9;
     margin-bottom: 20px;
     border-radius: 10px;
}

:focus {
    outline: 1px solid #1e92e9;
}

.btn {
    background-color: #1e92e9;
    width: 150px;
    align-self: flex-end;
    cursor: pointer;
}

.btn:hover {
    background-color: #2198f9;
}

@media(max-width:991px) {
    body {
        padding: 30px;
    }

    .form-content {
        width: 100%px;
    }

    .form {
        width: 100%;
    }
}